* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper
{
    margin:auto;
    width:1100px;
}

.container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}

body {
    margin: 0;
    background-color: #FCD19C;

}

.s-image{
    position: relative;
    left:600px;
    max-width:35%;
    height: auto;
    top:-50px;

}
.orderButton
{
    background-color: #14AE5C;
    border: none;
    color: rgb(255, 255, 255);
    padding-left:12px;
    padding-right:12px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    top:-110px;
    left:900px;
}
.orderButton:hover{
    color: blue;
    text-decoration: underline;
}

.bigBubble{
    background-color: #eef1f0;
    border: none;
    color: rgb(14, 3, 3);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 36px;
    margin: 0px 0px;
    border-radius: 20px;
    font-family: "Courier New";
    top:-230px;
    left:-400px;
}

.bigBubble2{
    background-color: #eef1f0;
    border: none;
    color: rgb(14, 3, 3);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 0px 0px;
    border-radius: 20px;
    font-family: "Courier New";
    position: relative;
    top:-170px;
    left:-550px;
}

.logo{
    position: relative;
    top:-10px;
    font-size: 40px;
}

.logo2{
    position: relative;
    top:-15px;
    left:25px;
    font-size: 40px;
}
.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #FCD19C;
    text-decoration: none;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}


.navigation-menu {
    margin: auto;
    padding:4px;
    color:black;
}

.navigation-menu ul {
    display: flex;
    padding: 0;

}

.navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
    background-color: #BEBEBE;
    padding:10px;
    border-radius: 15px;
    padding-left:12px;
    padding-right: 12px;
}

.navigation-menu li a {
    display: flex;
    width: 100%;
    text-decoration: none;
    color:black;

}

.navigation-menu li a:hover{
    color: blue;
    text-decoration: underline;
}

.wordBubble
{
    background-color: #eef1f0;
    border: none;
    color: rgb(14, 3, 3);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 16px;
    position: relative;
    font-family: "Courier New";
    font-style: italic;
    font-weight: bold;
    top:10px;
    margin:auto;
    left:300px;
}

.choiceButton
{
    background-color: #FFA629;
    border: none;
    color: rgb(14, 3, 3);
    padding-top: 15px;
    padding-left:13px;
    padding-right: 13px;
    padding-bottom: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    position:relative;
    top:-15px;
    margin-left:150px;
    left:420px;
    cursor: pointer;
    border-radius: 16px;

}

.footernav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #FCD19C;
    text-decoration: none;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}